{% extends 'layout.html.twig' %}
{% block title %}Home{% endblock %}
{% block content %}
<section id="mainTitle">
  <h1>Portfolio de Mazars Robin</h1>
  <h1>Web développeur</h1>
</section>

<h2></h2>
<section>
  <h2>Présentation Générale</h2>
  <h2>Situation Actuelle</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<section id="competence">
  <h2>Compétences(bar)</h2>
  <h3>Web</h3>
  <h4><i class="fab fa-html5"></i> HTML</h4>
  <div class="bar 99"></div>
  <h4><i class="fab fa-css3"></i> CSS</h4>
  <div class="bar 90"></div>
  <h3>Language Informatique</h3>
  <div class="Competence">
  <h4><i class="fab fa-js"></i> JS</h4>
  <div class="bar 70"></div>
  <h4><i class="fab fa-php"></i> PHP</h4>
  <div class="bar 85"></div>
  <h4><i class="fab fa-python"></i> Python</h4>
  <div class="bar 90"></div>
  <h4><i class="fab fa-java"></i> Java</h4>
  <div class="bar 20"></div>
  <h3>Base De Données</h3>
  <h4>mySQL</h4>
  <div class="bar 100"></div>
  <h4>Elasticsearch</h4>
  <div class="bar 80"></div>
  <h3>Framework</h3>
  <p>Symfony</p>
  <p>Django</p>
  <h3>Autres Compétences</h3>
  <p>Git</p>
  <p>Anglais</p>
</section>
<section>
  <h2>Réalisations</h2>
  <div id="lienRealisation">
    <a href="{{path('piece')}}">Piece full CSS</a>
    <a href="{{path('canvas')}}">Canvas</a>
    <a href="{{path('bdd')}}">Bdd</a>
    <a href="{{path('tapis')}}">Tapis</a>
  </div>
</section>
<section>
  <h2>Parcours (timeline)</h2>
  <p>2012-2018: Université Paul Sabatier en physique</p>
  <p>fin 2018: Formation 3WA en dévelopement web</p>
  <p>février-2019 juillet-2019: stage de fin de formation à la DGAC sur la suite elasticsearch</p>
</section>
<section>
  <h2>Informations Suplémentaires</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>
<section>
  <h2>Me contacter</h2>


  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

{% endblock %}
