{% extends 'layout.html.twig' %}
{% block title %}Contact{% endblock %}
{% block content %}
<section>
  <p><strong>Addresse mail :</strong>  robin.mazars@hotmail.fr</p>
  <p></strong> <a href="http://www.linkedin.com/in/robin-mazars-730836176"> <strong><i class="fab fa-linkedin"></i></a></p>
</section>


{% endblock %}
