{% extends 'layout.html.twig' %}
{% block title %}Contact{% endblock %}
{% block content %}
<section>
  <p>Addresse mail :</p>
  <p><i class="fab fa-linkedin"></i> Linkedin :</p>
</section>


{% endblock %}
