{% extends 'layout.html.twig' %}
{% block title %}
  Tapis
{% endblock %}
{% block content %}
  <section>
    <h1>titre 1</h1>
    <div id="frame">
      <svg id="svg">
        <path stroke="black" fill="green" d='M350 500 Q 350 350 400 350 L400 450 L 500 250 L400 50 L400 100 Q 150 150 150 500'></svg>
      </div>
      <button type="button" id="start">Start</button>
      <button type="button" id="stop">Stop</button>
    </section>
    <section>
      <p>-cliquez pour ajouter un element</p>
      <p>-souris sur un object + 'r' pour changer son type</p>

    </section>
  {% endblock %}
