{% extends 'layout.html.twig' %}
{% block title %}Canvas{% endblock %}
{% block link %}
{{parent()}}
{{encore_entry_link_tags('canvasCss')}}

{% endblock %}
{% block content %}
<section>
  <canvas id="canvas" width="700" height="700">
  </canvas>
  <div id="buttonCanvas">
    <input type="color" id="color" value="#000000">

    <button type="button" id='gomme' name="button">Gomme</button>
    <button type="button" id='btnErase' name="button">Erase All</button>
  </div>

</section>

{% endblock %}
{% block bottomLink %}
{{parent()}}
{{encore_entry_script_tags('canvasJs')}}
{% endblock %}
