{# templates/bundles/TwigBundle/Exception/error404.html.twig #}

    <h1><span style="color:red;">ERREUR 404</span> Page not found</h1>

    <p>Veuillez verifier l'url :)</p>
    <p><a href="{{path('home')}}">Retour page d'accueil</a></p>
