{# templates/bundles/TwigBundle/Exception/error404.html.twig #}

    <h1><span style="color:red;">ERREUR 500</span> Internal Server Error</h1>
    <p>
      <p>Le serveur à planter :-o</p>
         <a href="{{path('home')}}">Retour page d'accueil</a>
    </p>
