h2{
  font-size: 2rem ;
}
table {
  margin: 5px auto;
  border-collapse: collapse;
  text-align: center;
}
#rechercheBar label {
  font-size: 1.3rem ;
}
input[type="submit"]{
  background-color: steelblue;
  color: white;
  border-radius :5px;
  border: 0px;
  padding: 5px;
  width: 10%;
  height: 2rem;
}

.pagination {
  padding: 5px 0px;
}
.before, .after, .actual, .start {
  font-size: 1.5rem;
  margin: 0 5px;
  padding: 0 15px;
  border-radius: 10px;
  text-decoration: none;
}

.start, .before, .after {
  background-color: steelblue;
  color: white;
}
input[type="submit"]:hover,.start:hover, .before:hover, .after:hover{
  background-color: red;
  color: black;
}
.start:active, .before:active, .after:active {
  background-color: green;
}

th {
  background: grey;
  color: white;
  font-weight: normal;
  border: 1px black solid;
}

td {
  border: 1px black solid;
  padding: 0 10px;
}

tr:nth-child(odd) {
  background-color: white;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

tbody tr:hover {
  background-color: steelblue;
  color: white;
}

#rechercheBar {
  margin: 2% 0;
}
